 .u-section-1 {
  background-image: url("images/30-populyarnyh-rossijskih-brendov-odezhdy-2-960x540.jpg?rand=c27a");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-group-1 {
  min-height: 686px;
  height: auto;
  width: 583px;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-1 .u-group-2 {
  width: 225px;
  height: 225px;
  margin: 0 866px 0 11px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-1 .u-text-1 {
  width: 119px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  margin: 0 50px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 41px auto 0 11px;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-group-1 {
    background-position: 100% 50%;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: 320px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    background-position: 71.36% 50%;
    width: 523px;
    margin-bottom: 29px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 62px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 278px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin-right: 126px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}